//colors
// $color-primary:
// $color-primary-light:
// $color-primary-dark:
/* 
colors: primary theme:#727cf5;
        theme: hover: #6169d0

backgroud left panel: #313a46

baclground color1 : #6c757d
backgroud color: #f9f9fd

*/
