.info-features {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 6rem;

  @media only screen and (max-width: $bp-largest) {
    padding: 2.4rem;
  }

  @media only screen and (max-width: $bp-medium) {
    grid-template-columns: repeat(2, 1fr);
  }
  
  @media only screen and (max-width: $bp-small) {
    grid-template-columns: 1fr
  }
}

.feature {
    &__icon {
      color: $color-primary;
      height: 2.4rem;
      width: 2.4rem;
      background-color: $color-grey-light-2;
      border-radius: 50%;
      padding: 1.4rem;
      margin-bottom: 3.2rem;
    }
  
    &__title {
      font-size: 2.4rem;
      color: $color-grey-1;
      font-weight: 700;
      margin-bottom: 1.6rem;
  
      @media only screen and (max-width: $bp-largest) {
        font-size: 1.8rem;
      }
    }
  
    &__text {
      font-size: 1.8rem;
      line-height: 1.8;
  
      @media only screen and (max-width: $bp-largest) {
        font-size: 1.6rem;
      }
    }  
  }