.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $color-grey-light-1;

  /* Because we want header to be sticky later */
  height: 8rem;
  padding: 0 4.8rem;
  position: relative;

  @media only screen and (max-width: $bp-medium) {
  padding: 0 3.2rem;
}

  &__icon:link,
  &__icon:visited {
    text-shadow: 1px 1px 2px $color-grey-light-3;
    color: $color-primary;
    text-decoration: none;
    font-weight: bold;
    font-size: 3.2rem;
  }
}
