.hero {
  background-color: $color-grey-light-1;
  margin: 0 auto;
  padding: 4.8rem 16rem 14rem 16rem;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;

  @media only screen and (max-width: $bp-largest) {
    padding: 6.4rem;
  }

  @media only screen and (max-width: $bp-medium) {
    grid-template-columns: 1fr;
  }

  @media only screen and (max-width: $bp-small) {
    height: 100vh;
    background-size: cover;
    background-image: linear-gradient(rgba(34,34,34,0.7), rgba(34,34,34,0.7)), url(/images/kid.jpg);
  }

  .heading-primary {
      @media only screen and (max-width: $bp-small) {
        color: white;
    }
  }  

  &__description {
    font-size: 2rem;
    line-height: 1.6;
    margin-bottom: 4.8rem;

    @media only screen and (max-width: $bp-largest) {
      font-size: 1.6rem;
    }

    @media only screen and (max-width: $bp-small) {
      color: white;
  }
  }

  &__active-users {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.6rem;
    margin-top: 8rem;

    @media only screen and (max-width: $bp-small) {
      color: white;
  }
  }

  &__img {
    width: 80%;
    border-radius: 10px;
    display: block;
    margin-left: auto;

    @media only screen and (max-width: $bp-largest) {
      width: 70%;
    }

    @media only screen and (max-width: $bp-medium) {
      width: 80%;
      margin: 0 auto;
    }

    @media only screen and (max-width: $bp-small) {
        display: none;
    }
  }

  &__buttons {
    @media only screen and (max-width: $bp-medium) {
      display: flex;
      justify-content: space-around;
    }
  }

  &__text {
    font-size: 1.8rem;
    font-weight: 600;
  }
}