
.btn-mobile-nav {
    border: none;
    background-color: none;
    cursor: pointer;
  }
  
  .icon-mobile-nav {
    height: 4.8rem;
    width: 4.8rem;
    color: $color-grey-2;
    background-color: $color-grey-light-1;
  }
  
  .nav--open .main-nav{
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }
  
  .icon-mobile-nav[name="close-outline"] {
    display: none;
  }
  
  .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }
  
  
  
  
  .icon-mobile-nav[name="close-outline"] {
    display: none;
  }
  
  .nav--open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }
  
  .nav--open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }
  
  .main-nav {
    @media only screen and (max-width: $bp-medium) {
      background-color: rgba(255, 255, 255, 0.95);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      transform: translateX(100%);
    
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.5s;
    
      opacity: 0;
      pointer-events: none;
      visibility: hidden;
      }
  
  
    &--list {
      list-style: none;
      display: flex;
      align-items: center;
      gap: 4.8rem;
  
      @media only screen and (max-width: $bp-medium) {
        flex-direction: column;
      }
    }
  
    &-link:link,
    &-link:visited {
      display: inline-block;
      text-decoration: none;
      color: #333;
      font-weight: 500;
      font-size: 1.8rem;
      transition: all 0.3s;
  
      @media only screen and (max-width: $bp-medium) {
        font-size: 3rem;
      }
    }
  
    &-link:hover,
    &-link:active {
      color: $color-primary;
    }
  
    &-link.nav-cta:link,
    &-link.nav-cta:visited {
      padding: 1.2rem 2.4rem;
      border-radius: 9px;
      color: $color-white;
      background-color: $color-primary;
    }
  
    &-link.nav-cta:hover,
    &-link.nav-cta:active {
      background-color: $color-primary-dark;
    }
  }