.section-newsletter {
  background-color: #fff;
  padding: 4.8rem 0 9.6rem 0;
}

.newsletter {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.newsletter-image-box {
  width: 50rem;
  display: block;
  margin-left: auto;
}

.newsletter-img {
  width: 100%;
  border-radius: 10px;
  background-image: linear-gradient(
      to right bottom,
      rgba(235, 151, 78, 0.35),
      rgba(230, 125, 34, 0.35)
    ),
    url("/images/girl.jpg");
  background-size: cover;
  background-position: center;
}
