.section-users {
  background-color: #f9f9fd;
  padding: 4.8rem 0 9.6rem 0;
}

.users {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;

  display: flex;
  gap: 1.2rem;
}

.user {
  width: 80rem;
  height: 50rem;
}

.user-img {
  width: 100%;
  border-radius: 10px;
}
